/* span {
    font-weight: bold;
} */

/* 行先色付 */

span.destination {
    color: darkorange;
}

/* 遅延時分色付 */

span.noDelay {
    color: blue;
    /* font-weight: normal; */
}

span.delayMinutes {
    color: red;
}

/* 種別色付 */

span.local {
    color: black;
}

span.regionalrapid {
    color: green;
}

span.rapid {
    color: darkorange;
}

span.specialrapid {
    color: blue;
}

span.tanbajirapid {
    color: goldenrod;
}

span.kixrapid {
    color: royalblue;
}

span.kishujirapid {
    color: darkorange;
}

span.yamatojirapid {
    color: darkorange;
}

span.miyakojirapid {
    color: darkgoldenrod;
}

span.directrapid {
    color: steelblue;
}

span.limitedexp {
    color: red;
}

span.notinservice {
    color: white;
    background-color: black;
}

span.extra {
    color: white;
    background-color: purple;
}

/* 路線記号色付 */

span.hokuriku {
    color: blue;
}

span.kosei {
    color: deepskyblue;
}

span.kusatsu {
    color: lime;
}

span.nara {
    color: darkgoldenrod;
}

span.osakahigashi {
    color: steelblue;
}

span.takarazuka {
    color: gold;
}

span.tozai {
    color: deeppink;
}

span.kakogawa {
    color: turquoise;
}

span.kishin {
    color: orangered;
}

span.osakaloop {
    color: red;
}

span.yumesaki {
    color: navy;
}

span.yamatoji {
    color: green;
}

span.hanwa {
    color: darkorange;
}

span.kix {
    color: royalblue;
}

span.wakayama {
    color: hotpink;
}

span.kansai {
    color: darkviolet;
}

span.kinokuni {
    color: darkturquoise;
}